<div class="my-3 background-color">
  <div class="py-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-11 input-icons">
          <i class="fa-solid fa-magnifying-glass icon"></i>
          <input
            #search
            class="input-field w-100"
            placeholder="Search"
            [ngModel]="searchTerm"
            (ngModelChange)="applyFilter($event)"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-1">
          <button type="button" class="btn float-end" (click)="cancel()">
            <h5 class="text-primary">Cancel</h5>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
